
<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title%>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, :ckeditor => {:language => 'en'} %>
  </div>

  <div class="field">
    <%= f.label :transcript_1 %><br>
    <%= f.cktext_area :transcript_1, :ckeditor => {:language => 'en'} %>
  </div>

  <div class="field">
    <%= f.label :transcript_2 %><br>
    <%= f.cktext_area :transcript_2, :ckeditor => {:language => 'en'} %>
  </div>

  <div class="field">
    <%= f.label :transcript_3 %><br>
    <%= f.cktext_area :transcript_3, :ckeditor => {:language => 'en'} %>
  </div>


  <div class="field">
    <%= f.label :draft_due %><br>
    <%= f.datetime_select :draft_due%>
  </div>

  <div class="field">
    <%= f.label :final_due %><br>
    <%= f.datetime_select :final_due%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
