<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Draft Due Date</th>
      <th>Final Due Date</th>
      <%if !current_user.admin?%>
        <th>My Editorial</th>
      <%end%>
      <th>Class Editorials</th>
      <%if current_user.admin?%>
        <th>Admin Links</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.draft_due.strftime("%-b %-d at %I:%M%p") %></td>
        <td><%= assignment.final_due.strftime("%-b %-d at %I:%M%p") %></td>
        <%if !current_user.admin?%>
        <% if assignment.final_due < Time.zone.now %>
        <td>Due date has passed</td>
          <%elsif Post.where(user_id: current_user.id, assignment_id: assignment.id).exists?%>
            <%@post = Post.where(user_id: current_user.id, assignment_id: assignment.id).first%>
            <td><%=link_to "Edit/Continue Assignment", {:controller => 'posts', :action => 'edit', :id => @post.id, :assignment_id => assignment.id}%></td>
          <%else%>
            <td><%= link_to "Start Assignment", {:controller => 'posts', :action => 'new', :assignment_id => assignment.id}%></td>
          <%end%>
        <%end%>
        <td><%=link_to "See Posts", {:controller => 'assignments', :action => 'postlist', :id => assignment.id}%></td>
        <%if current_user.admin?%>
          <td><%= link_to 'Edit', edit_assignment_path(assignment.id) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin?%>
  <%= link_to 'Create New Assignment', new_assignment_path %>
<%end%>



